/* 全画面で共通するCSS */

.message {
	text-align: center;
	color: blue;
	margin:20px;
}

.error-message {
	text-align: center;
	color: red;	
}

.title {
	color: #17a2b8;
	margin:20px;
}

.head {
	text-align: right;
}


